# Exploring Datasets w/ Pandas
> Making a date aware data set using to_datetime()

In [1]:
import pandas as pd

In [6]:
rainfall_df = pd.read_csv('test.csv', header=2)

In [7]:
rainfall_df.head()

   Site Id    Date  Time  PREC.I-1 (in)
0      989  8/1/23   NaN            35.9
1      989  8/2/23   NaN            35.9
2      989  8/3/23   NaN            35.9
3      989  8/4/23   NaN            35.9
4      989  8/5/23   NaN            35.9

In [8]:
rainfall_df['Date'] = pd.to_datetime(rainfall_df['Date'])

In [11]:
print(rainfall_df["Date"])

0    2023-08-01
1    2023-08-02
2    2023-08-03
3    2023-08-04
4    2023-08-05
5    2023-08-06
6    2023-08-07
7    2023-08-08
8    2023-08-09
9    2023-08-10
10   2023-08-11
11   2023-08-12
12   2023-08-13
13   2023-08-14
14   2023-08-15
15   2023-08-16
16   2023-08-17
17   2023-08-18
18   2023-08-19
19   2023-08-20
20   2023-08-21
21   2023-08-22
22   2023-08-23
23   2023-08-24
24   2023-08-25
25   2023-08-26
26   2023-08-27
27   2023-08-28
28   2023-08-29
29   2023-08-30
30   2023-08-31
Name: Date, dtype: datetime64[ns]

In [18]:
for i in range(len(rainfall_df['Date'])):
    print(rainfall_df['Date'][i].month)

8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8
8

In [12]:
rainfall_df[rainfall_df['Date'] == pd.to_datetime('2023-08-01')]

   Site Id       Date  Time  PREC.I-1 (in)
0      989 2023-08-01   NaN            35.9

In [17]:
rainfall_df['Date'] > pd.to_datetime('2023-08-15')

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
Name: Date, dtype: bool

In [19]:
rainfall_df.loc[(rainfall_df['Date'] == pd.to_datetime('2023-08-01')), 'PREC.I-1 (in) '] # loc index's an index

0    35.9
Name: PREC.I-1 (in) , dtype: float64

In [20]:
rainfall_df = rainfall_df.append({'Site Id': 5, 'Date': '2023-09-01', 'Time': 'test'}, ignore_index = True)

/var/folders/3v/q192mwhs5095dds9n1kjhyb80000gn/T/ipykernel_33315/3785353536.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rainfall_df = rainfall_df.append({'Site Id': 5, 'Date': '2023-09-01', 'Time': 'test'}, ignore_index = True)

In [24]:
test_df = pd.DataFrame([{'Site Id': 5, 'Date': '2023-09-01', 'Time': 'test'}])

In [25]:
rainfall_df = pd.concat([rainfall_df, test_df], axis=0)

In [26]:
print(rainfall_df)

    Site Id                 Date  Time  PREC.I-1 (in)
0       989  2023-08-01 00:00:00   NaN            35.9
1       989  2023-08-02 00:00:00   NaN            35.9
2       989  2023-08-03 00:00:00   NaN            35.9
3       989  2023-08-04 00:00:00   NaN            35.9
4       989  2023-08-05 00:00:00   NaN            35.9
5       989  2023-08-06 00:00:00   NaN            35.9
6       989  2023-08-07 00:00:00   NaN            35.9
7       989  2023-08-08 00:00:00   NaN            35.9
8       989  2023-08-09 00:00:00   NaN            35.9
9       989  2023-08-10 00:00:00   NaN            36.0
10      989  2023-08-11 00:00:00   NaN            36.0
11      989  2023-08-12 00:00:00   NaN            36.0
12      989  2023-08-13 00:00:00   NaN            36.0
13      989  2023-08-14 00:00:00   NaN            36.0
14      989  2023-08-15 00:00:00   NaN            36.0
15      989  2023-08-16 00:00:00   NaN            36.0
16      989  2023-08-17 00:00:00   NaN            36.0
17      989  2023-08-18 00:00:00   NaN            36.0
18      989  2023-08-19 00:00:00   NaN            36.0
19      989  2023-08-20 00:00:00   NaN            36.0
20      989  2023-08-21 00:00:00   NaN            36.0
21      989  2023-08-22 00:00:00   NaN            36.3
22      989  2023-08-23 00:00:00   NaN            36.5
23      989  2023-08-24 00:00:00   NaN            36.6
24      989  2023-08-25 00:00:00   NaN            36.6
25      989  2023-08-26 00:00:00   NaN            36.7
26      989  2023-08-27 00:00:00   NaN            36.7
27      989  2023-08-28 00:00:00   NaN            36.7
28      989  2023-08-29 00:00:00   NaN            36.7
29      989  2023-08-30 00:00:00   NaN            36.9
30      989  2023-08-31 00:00:00   NaN            37.5
31        5           2023-09-01  test             NaN
0         5           2023-09-01  test             NaN