In [101]:
import pandas as pd
import math
bag_df = pd.read_csv('baggage.csv', header=0)

In [9]:
# Each year, 1. find the mean B/E and 
#.           2.standard deviation 
# for each airline ( create new dataframe)

In [10]:
# Create a figure y : Mean B/E X: year with standard deviation represented

In [57]:
air_list = bag_df['Airline'].unique()

In [59]:
year_list = bag_df['Year'].unique()

In [58]:
print(air_list)

['American Eagle' 'Hawaiian' 'United']

In [61]:
print(year_list)

[2004 2005 2006 2007 2008 2009 2010]

In [111]:
# New column of ratio of Baggage/Enplaned 
bag_df["B/E"] = bag_df["Baggage"] / bag_df["Enplaned"]

# American Eagle

In [75]:
AmEagle = pd.DataFrame()
AmEagle["Year"] = pd.DataFrame(year_list)

### Calculating Average B/E

In [81]:
averageList = []
i = 0
for year in AmEagle["Year"]:
    sum = 0
    while(bag_df["Year"][i] == year and bag_df["Airline"][i] == "American Eagle"):
        sum += bag_df["B/E"][i]
        i += 1
    average = sum / 12
    averageList.append(average)

In [83]:
AmEagle["Average B/E"] = pd.DataFrame(averageList)

### Standard Deviation

In [ ]:
# mean, deviation from mean, square of deviation, sum of squares, variance, squareroot of the variance

In [96]:
# Mean of all Average B/E
sum = 0
for ave in AmEagle["Average B/E"]:
    sum += ave
averageofAve = sum / 7

In [97]:
# Sqare of Deviation from mean
devMean = []
SquareDev = []
for ave in AmEagle["Average B/E"]:
    temp = 0
    temp = ave - averageofAve
    SquareDev.append( temp * temp )
AmEagle["Deviation Squared"] = pd.DataFrame(SquareDev)

In [99]:
# Sum of Squares
square_sum = 0
for val in SquareDev:
    square_sum += val

In [100]:
# Variance
vari = square_sum / (7-1)

In [105]:
# Square root Variance
Am_Eag_Standard_Deviation = math.sqrt(vari)

# Hawaiian

In [106]:
Hawaii = pd.DataFrame()
Hawaii["Year"] = pd.DataFrame(year_list)

### Calculating Average B/E

In [112]:
bag_df.head()

,Airline,Month,Year,Baggage,Scheduled,Cancelled,Enplaned,B/E
0,American Eagle,1,2004,12502,38276,2481,992360,0.012598
1,American Eagle,2,2004,8977,35762,886,1060618,0.008464
2,American Eagle,3,2004,10289,39445,1346,1227469,0.008382
3,American Eagle,4,2004,8095,38982,755,1234451,0.006558
4,American Eagle,5,2004,10618,40422,2206,1267581,0.008377

In [116]:
for year in Hawaii["Year"]:
    i = 0
    while(bag_df[])

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().